// change the theme
$primary: #6D9DC5;
$light: #F5FBEF;
$btn-color: "white";
//   $theme-colors: (
//   // "primary": #6D9DC5,
//   "light": #F5FBEF
// );

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  width: 350px;
  height: 265px;
}

.App-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.btn-primary, .btn-primary:hover {
  color: white;
}

.react-tabs__tab-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.react-tabs__tab,
.react-tabs__tab--selected {
  @extend .btn;
  @extend .btn-primary;
  width: 50%;
  line-height: 36px;
  border-radius: 0;
}

.react-tabs__tab:hover,
.react-tabs__tab--selected:hover {
  @extend .btn-primary, :hover;
}

.pagination {
  padding: 0;
  margin-bottom: 0;

  &__dot, &__dot--active {
    width: 16px;
    height: 16px;
    border: 2px solid $primary;
    border-radius: 100px;
    display: inline-block;
    margin: 0 4px;
  }

  &__dot--active {
    background: $primary;
  }
}