body {
  width: 500px;
  height: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-tabs__tab-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.react-tabs__tab, .react-tabs__tab--selected {
  width: 50%;
  line-height: 50px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
}
.react-tabs__tab:hover, .react-tabs__tab--selected:hover {
  background-color: aliceblue;
  color: black;
}

.react-tabs__tab--selected {
  background-color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
